.Request-now{
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    transition: opacity 0.15s;
}

.Request-now:hover{
    opacity: 0.7;
}

.add-to-cart{
    background-color: rgb(225, 216, 20);
    color: black;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin-right: 30px;
    transition: background-color 0.15s, color 0.15s;
}

.add-to-cart:hover{
    background-color: rgb(97, 93, 12);
    color: white;
}

.Sign-up{
    background-color: rgb(46, 164, 79);
    color: white;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-right: 30px;
    transition: box-shadow 0.15s;
}

.Sign-up:hover{
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
}

.get-started{
    background-color: rgb(121, 82, 179);
    color: white;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-right: 30px;
    transition: opacity 0.15s;
}

.get-started:active{
    opacity: 0.7;
}

.download{
    background-color: white;
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    color: rgb(108, 117, 125);
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 30px;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.download:hover{
    background-color: rgb(108, 117, 125);
    color:white;
}

.download:active{
    opacity: 0.7;
}

.bord{
    background-color: aquamarine;
    height: 30px;
    width: 270px;
    padding: 10px;
}

.apply{
    background-color: rgb(10, 102, 194);
    color: white;
    height: 30px;
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    transition: opacity 0.15s;
}

.apply:active{
    opacity: 0.6;
}

.save{
    background-color: white;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    color: rgb(10, 102, 194);
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 30px;
    transition: background-color 0.15s, color 0.15s, box-shadow 0.15s, opacity 0.15s;
}

.save:hover{
    background-color: rgb(10, 102, 194);
    color: white;
}

.save:active{
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
}

.linkedin{
    background-color: aqua;
    height: 30px;
    width: 350px;
    padding: 10px;
}

a{
    color: rgb(0, 113, 133);
    transition: color 0.15s;
}

a:hover{
    color:brown;
}

.stock{
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.cart{
    background-color: (255, 216, 20);
    border-radius: 50px;
    color:black;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border: none;
    transition: opacity 0.15s;
}

.cart:active{
    opacity: 0.5;
}

.buy{

    background-color: rgb(255, 164, 28);
    border-radius: 50px;
    color: black;
    cursor: pointer;
    height: 30px;
    width: 80px;
    border: none;
    transition: opacity0.15s, opacity 0.15s;
}

.buy:hover{
    opacity: 0.8;
}

.buy:active{
    opacity:0.4;
}

.shoe{
    font-size: 24px;
    font-weight: bold;
}

.subscribe{
    background-color: rgb(105, 27, 27);
    color: white;
    padding: 10px;
    margin-right: 10px;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
}

.subscribe:hover{
    background-color: brown;
    color:rgb(201, 183, 183);
}

.join{
    background-color: white;
    border-width: 1px;
    border-color: blue;
    color:blue;
    padding: 10px;
    border-radius: 4px;
    margin-right: 20px;
    transition: background color 0.15s, color 0.15s, opacity 0.15s;
}

.join:hover{
    background-color: blue;
    color:white;
}

.join:active{
    opacity: 0.6;
}

.tweet{
    background-color: blue;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: box-shadow 0.15s;
}

.tweet:hover{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
}

.line1{
    margin-bottom: 20px;
}

.back{
    background-color: rgb(219, 213, 204);
    border-width: 2px;
    border-radius: 4px;
    padding: 20px;
    font-weight: bold;
    border-color: blueviolet;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.back:hover{
    background-color: blueviolet;
    color:bisque;
}

.page{
    color: rgb(122, 122, 221);
    margin: 10px;
    font-weight: 700;
    transition: color 0.15s, font-weight 0.15s;
}

.page:hover{
    color: blue;
    font-weight: bolder;
}

.next{
    background-color: blue;
    border-width: none;
    border-radius: 4px;
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.next:active{
    opacity: 0.5;
}

.grow{
    margin: 20px;
}

.stretch{
    background-color: rgb(4, 66, 4);
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: padding 0.15s;
}

.stretch:hover{
    padding: 40px;
}

.shadow{
    background-color: rgb(255, 123, 0);
    color:white;
    padding: 20px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.shadow:hover{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.num{
    margin: 20px;
}

.one-button{
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: padding-left 0.15s, padding-right 0.15s;
}

.one-button:hover{
    padding-left: 30px;
    padding-right: 30px;
}

.two-button{
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: padding-left 0.15s, padding-right 0.15s;
}

.two-button:hover{
    padding-left: 30px;
    padding-right: 30px;
}

.three-button{
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: padding-left 0.15s, padding-right 0.15s;
}

.three-button:hover{
    padding-left: 30px;
    padding-right: 30px;
}